body {
  min-height: 100%;
  font-family: 'Open Sans';
  text-align: center;
}

footer {
  height: 200px;
  background-color: #151e35;
  text-align: center;
  color: #fff;
  padding: 20px 40px;
  text-align: left;
}

.footer-right {
  padding-top: 50px;
  text-align: right
}

form textarea, .form-control {
  padding: 10px;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  color: #7faad8;
}

/*Applies to all Pages*/
.page {
  padding-top: 80px;
}

/*Home Page*/
.home {
}

.main-image {
  width: 100%;
}


/*Navbar*/
nav {
  font-size: 15px;
  box-shadow: none;
  margin: 0;
}

nav h1 a {
  float: left;
  font-size: 30px;
  font-weight: 800;
  line-height: 20px;
  margin: 0 0 20px 20px;
}

.dropdown {
  line-height: 15px;
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
  padding: 5px 12px;
  width: 120px;
  text-align: right;
}

.dropbtn span {
  color: #7faad8;
}

.dropdown-content {
  display: none;
  padding-top: 15px;
  position: absolute;
  z-index: 1;
  text-align: left;
  width: 120px;
}

.dropdown-content a {
  display: block;
  padding: 7px 10px;
  transition: .3s background-color;
}

.dropdown-content a:hover {
  background-color: rgba(127,127,216,0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #fff;

}

form {
  position: relative;
}

div.post-form {
  margin-top: 20px;
  margin-bottom: 50px;
}

form.form {
  margin-top: 10px;
}

.buttons {
  margin-top: 10px;
}

.myButton {
  margin-right: 5px;
  border-width: 2px;
	cursor: pointer;
	font-size: 12px;
	padding: 7px 10px;
  font-weight: 700;
  text-align: center;
	text-decoration:none;
  background-color:#9eb8d3;
  color: #000;
  border-style: none;
}

.myButton:hover {
  background-color: #c3e0ff;
}

.myButton:active {
	position:relative;
	top:1px;
}

/*CSS for Profile Page */
div.profile-contents {
  margin-top: 80px;
}
div.user-post-container {
  box-shadow: 1px 2px 2px 2px #888888
}

h5.user-post, title {
  font-size: 20px;
  margin-left: 10px;
}

h3.user-post-header {
  margin-bottom: 40px;
}

div.userpost, truncate, moreless {
  font-size: 15px;
  font-style: italic;
}

p.profile-name {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
}

img.profile-image {
  margin-top: 30px
}

p.user-post, city {
  margin-top: 10px;
  padding: 0px;
  padding-right: 10px;
  text-align: right;
}

div#profile-container {
  margin-top: 50px;
}

div#cities-container {
  margin-top: 85px;
}

p#cities-adventure {
  font-size: 40px;
  letter-spacing: 1px;
}

/*Cities Page*/
#citiesPage, .cityImage {
  padding: 40px 0;
  position: relative;
  overflow: hidden;
  background-color: #18233e;
}

#citiesPage .cityImage h1 {
  position: absolute;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  bottom: 14%;
  right: 5%;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

#citiesPage .cityImage:hover h1 {
  color: #7faad8;
}

/* city page */
#cityPage .banner {
  position: relative;
  overflow: hidden;
}

#cityPage img {
  width: 100%;
}

#cityPage h1 {
  position: absolute;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  top: 20%;
  right: 5%;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  z-index: 2;
}

#postBox {
  background-color: #fff;
  /*position: absolute;*/
  top: 500px;
  width: 100%
}

/*Post Indiv*/
#postIndiv {
  overflow: hidden;
  text-align: left;
  padding: 25px;
  margin: 10px 0;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 6px 6px -6px #777;
}

#postIndiv p {
  padding: 0;
  margin: 0;
}

#postIndiv img {
  height: 25px;
  width: 25px;
  vertical-align: baseline;
}

#postIndiv span#name {
  padding-right: 10px;
}

#postIndiv .title {
  font-weight: 700;
  font-style: italic;
  text-transform: full-width;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#postIndiv .right {
  text-align: right;
}

#postIndiv .readmore, .dateposted {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  #postIndiv .dateposted, #postIndiv img {
    display: none;
  }
  nav h1 a {
    font-size: 20px;
  }
}
